backend:
  name: git-gateway
  branch: main

media_folder: "images"
public_folder: "images"

collections:
  - name: "donnees_site"
    label: "Gestion du Blog"
    files:
      - label: "Mes Comptes-Rendus"
        name: "articles"
        file: "articles.json"
        fields:
          - label: "Articles"
            name: "liste_articles"
            widget: "list"
            fields:
              - {label: "ID de l'article", name: "id", widget: "string"}
              - {label: "Titre", name: "titre", widget: "string"}
              - {label: "Date", name: "date", widget: "string"}
              - {label: "Résumé", name: "resume", widget: "text"}
              - {label: "Lien Strava", name: "lien_strava", widget: "string", required: false}
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Contenu (HTML)", name: "contenu", widget: "text"}

      - label: "Mes Courses"
        name: "courses"
        file: "courses.json"
        fields:
          - label: "Courses"
            name: "liste_courses"
            widget: "list"
            fields:
              - {label: "Date", name: "date", widget: "string"}
              - {label: "Nom de la course", name: "nom", widget: "string"}
              - {label: "Distance (km)", name: "distance", widget: "number", value_type: "float"}
              - {label: "Dénivelé (m)", name: "denivele", widget: "number"}
              - {label: "Chrono", name: "chrono", widget: "string"}
              - label: "Article Lié"
                name: "article"
                widget: "relation"
                collection: "donnees_site"
                file: "articles"
                search_fields: ["liste_articles.*.titre"]
                display_fields: ["liste_articles.*.titre"]
                value_field: "liste_articles.*.id"
                required: false

  - name: "entrainement"
    label: "Entraînement"
    files:
      - label: "Mes Préparations"
        name: "preparations"
        file: "entrainements.json"
        format: "json"
        fields:
          - label: "Liste des Préparations"
            name: "liste_prepas"
            widget: "list"
            fields:
              - {label: "Nom de l'objectif (ex: Semi Deauville)", name: "nom_prepa", widget: "string"}
              - {label: "Année (ex: 2026)", name: "annee", widget: "string"}
              
              - label: "Semaines d'entraînement"
                name: "liste_semaines"
                widget: "list"
                fields:
                  - {label: "Nom (ex: S1 - Reprise)", name: "titre", widget: "string"}
                  - {label: "Dates (ex: 01/09 - 07/09)", name: "dates", widget: "string"}
                  - {label: "Total KM", name: "total_km", widget: "number", value_type: "float"}
                  
                  - {label: "Lundi (Type)", name: "lundi_type", widget: "select", options: ["Repos", "Endurance", "Tempo", "Intervalles", "Renfo", "Course", "Vélo"], default: "Repos"}
                  - {label: "Lundi (Titre optionnel)", name: "lundi_titre", widget: "string", required: false}
                  - {label: "Lundi (KM)", name: "lundi_km", widget: "number", value_type: "float", required: false}
                  
                  - {label: "Mardi (Type)", name: "mardi_type", widget: "select", options: ["Repos", "Endurance", "Tempo", "Intervalles", "Renfo", "Course", "Vélo"], default: "Repos"}
                  - {label: "Mardi (Titre optionnel)", name: "mardi_titre", widget: "string", required: false}
                  - {label: "Mardi (KM)", name: "mardi_km", widget: "number", value_type: "float", required: false}
                  
                  - {label: "Mercredi (Type)", name: "mercredi_type", widget: "select", options: ["Repos", "Endurance", "Tempo", "Intervalles", "Renfo", "Course", "Vélo"], default: "Repos"}
                  - {label: "Mercredi (Titre optionnel)", name: "mercredi_titre", widget: "string", required: false}
                  - {label: "Mercredi (KM)", name: "mercredi_km", widget: "number", value_type: "float", required: false}
                  
                  - {label: "Jeudi (Type)", name: "jeudi_type", widget: "select", options: ["Repos", "Endurance", "Tempo", "Intervalles", "Renfo", "Course", "Vélo"], default: "Repos"}
                  - {label: "Jeudi (Titre optionnel)", name: "jeudi_titre", widget: "string", required: false}
                  - {label: "Jeudi (KM)", name: "jeudi_km", widget: "number", value_type: "float", required: false}
                  
                  - {label: "Vendredi (Type)", name: "vendredi_type", widget: "select", options: ["Repos", "Endurance", "Tempo", "Intervalles", "Renfo", "Course", "Vélo"], default: "Repos"}
                  - {label: "Vendredi (Titre optionnel)", name: "vendredi_titre", widget: "string", required: false}
                  - {label: "Vendredi (KM)", name: "vendredi_km", widget: "number", value_type: "float", required: false}
                  
                  - {label: "Samedi (Type)", name: "samedi_type", widget: "select", options: ["Repos", "Endurance", "Tempo", "Intervalles", "Renfo", "Course", "Vélo"], default: "Repos"}
                  - {label: "Samedi (Titre optionnel)", name: "samedi_titre", widget: "string", required: false}
                  - {label: "Samedi (KM)", name: "samedi_km", widget: "number", value_type: "float", required: false}
                  
                  - {label: "Dimanche (Type)", name: "dimanche_type", widget: "select", options: ["Repos", "Endurance", "Tempo", "Intervalles", "Renfo", "Course", "Vélo"], default: "Repos"}
                  - {label: "Dimanche (Titre optionnel)", name: "dimanche_titre", widget: "string", required: false}
                  - {label: "Dimanche (KM)", name: "dimanche_km", widget: "number", value_type: "float", required: false}
